*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height:auto;
    width: 500px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 20px;
    background-color: #ebeefd;
    box-shadow: 2px 2px 15px #999
}

form{
     display: flex;
    flex-direction: column;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    
}
form input{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
     border-radius: 10px;
      border: 1px solid blue;
}

form button{
      display: flex;
    justify-content: center;
    align-items: center;
     /* border: 2px solid blue; */
     border-radius: 20px;
      margin: 1rem 0;
     width: 100%;
     font-size: 1.3rem;
}

@media screen and (max-width:px){


    .beg{
        font-size: large;
        margin: 0;
    }
    .nav{
        font-size: 15px;
        display: none;
       
    }

    .icon{
        display:none;
    }

    .icon2{
        display:flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 1.2rem;
         margin-right: 30px;
         gap: 10px;
    }
    .contact{
        width: 300px;
    }
    

    
   
}