*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-self: center;
    flex-wrap: wrap;
    height: auto;
    margin: 3rem;
    padding: 3rem;
    width: 90rem;
    border-radius: 20px;
    background-color: rgb(219, 217, 214);
}

.top{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    /* background-color:pink; */
    padding: 2rem;
    margin: 0 2rem;
    
}
.top div{
    display:inline;
    background-color: #e3dede;
    padding: 15px 30px;
   

}

.middle{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width:80%;
    
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #e3dede;
    height: auto;
    width: 400px;
    border-radius: 20px;
     position: relative;
     top: -40px;
     

}

.card ul{

    list-style: none;
    margin: 15px;
   
}

.card ul li{
    margin: 15px;
    
}

.card img{
    height: 200px;
    width: auto;
    
}


#bigimg{

    height: 500px;
    width: auto;
     position: relative;
  top: -100px;
  left: 180px;
}

.colors{
    display: flex;
    justify-content: space-between;
    height: auto;
    width:auto;
   position: relative;
   bottom: -200px;
   left: -40px;
   background: none;
   /* margin: 2rem; */
   
    


}

.colors button{
    border-radius: 50%;
     border: 1px solid black;
     margin: 5px;
      background: none;
    
}
.colors button:hover{
     border: 2px solid black;
     padding: 1.3rem;
   
}


.bottom{
    height: 300px;
    width:auto;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: azure; */
}
.one, .two, .three, .four{
    display: flex;
    padding: 1rem;
     background-color: #e3dede;
    height: 100px;
    width: 200px ;
    border-radius: 20px;

}

.bottom button{
    position: relative;
    top: 120px;
   /* height: 80px;
   width: 200px; */
   border-radius: 50px;
   padding: 1rem 3rem;
   

}